@page
@model CSharpMySite.Pages.MoviesModel
@{
}


<section class="products" id="products">
    <h1 class="heading"> <span>our</span> movies </h1>

    <div class="productgallery">
        <div class="productgallery_card">
            <div class="productgallery_card_container">
                <img src="https://picsum.photos/300/300?1" alt="cookies" class="hero-image" />
                <div class="information">

                    <div class="name">Lorem, ipsum.</div>

                    <div class="store">Lorem, ipsum dolor.</div>

                    <a href="#" class="storebutton">Purchase Product</a>

                </div>
            </div>
        </div>
        <div class="productgallery_card">
            <div class="productgallery_card_container">
                <img src="https://picsum.photos/300/300?2" alt="cookies" class="hero-image" />
                <div class="information">

                    <div class="name">Lorem, ipsum.</div>

                    <div class="store">Lorem, ipsum dolor.</div>

                    <a href="#" class="storebutton">Purchase Product</a>

                </div>
            </div>
        </div>

        <div class="productgallery_card">
            <div class="productgallery_card_container">
                <img src="https://picsum.photos/300/300?3" alt="cookies" class="hero-image" />
                <div class="information">

                    <div class="name">Lorem, ipsum.</div>

                    <div class="store">Lorem, ipsum dolor.</div>

                    <a href="#" class="storebutton">Purchase Product</a>

                </div>
            </div>
        </div>


    </div>

</section>



