@page
@model CSharpMySite.Pages.MoviesModel
@{
}


<section class="products" id="products">
    <h1 class="heading"> <span>our</span> movies </h1>

    <div class="productgallery">
        @foreach (var item in Model.Items)
        {
            <div class="productgallery_card">
                <div class="productgallery_card_container">
                    <img src="https://picsum.photos/300/300?1" alt="cookies" class="hero-image"/>
                    <div class="information">

                        <div class="name">@item.Title</div>

                        <div class="store">@item.Director</div>

                        <a href="#" class="storebutton">@item.GenreName</a>

                    </div>
                </div>
            </div>
        }

    </div>

</section>



